$main : #1b8fce;
$secondary : #2c97d1;
$green : #85d68a;
$white : #ffffff;
$offWhite : #f1f1f1;
$font: 'Roboto', sans-serif;
$fontSize: 18px;

.body{
    display: block;
    border-radius: 50px;
    .details{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background-color: $offWhite;
        .left{
            font-family: $font;
            font-size: $fontSize;
            .paragraph{
                .egflagicon{
                    width: 20px;
                }
            }
        }
        .right{
            align-items: center;
            .mypic{
                width: 150px;
            }
        }
    }
}